@page "/"
@using PowerBillingUsage.Web.Requests

<h3 class="text-center mt-4">Electricity Billing</h3>

<div class="container mt-4">
    <div class="row g-4">
        <div class="col-md-6">
            <EditForm Model="@billingRequest" OnValidSubmit="GenerateBillAsync">
                <div class="mb-3">
                    <div class="d-flex align-items-end justify-content-around">
                        <div>
                            <label for="startAt" class="form-label">Cycle starts at</label>
                            <InputDate Type="InputDateType.DateTimeLocal" id="startAt" @bind-Value="billingRequest.StartAt" class="form-control" disabled="@isLoading" />
                        </div>
                        <div>
                            =>
                        </div>
                        <div>
                            <label for="endAt" class="form-label">Cycle ends at</label>
                            <InputDate Type="InputDateType.DateTimeLocal" id="endAt" @bind-Value="billingRequest.EndAt" class="form-control" disabled="@isLoading" />
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="consumption" class="form-label">Consumption</label>
                    <div class="input-group mb-3">
                        <input type="range" id="consumption" class="form-range" min="0" max="10000" step="10" @bind="billingRequest.Consumption" @bind:event="oninput" disabled="@isLoading" />
                        <span class="badge text-bg-dark fs-3">
                            @billingRequest.Consumption KWh
                        </span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Billing type</label>
                    <InputRadioGroup @bind-Value="billingRequest.BillingTypeValue" class="form-check" disabled="@isLoading">
                        <div class="d-flex align-items-end justify-content-start">
                            <div class="form-check ps-0 me-3">
                                <InputRadio id="residential" class="btn-check" Value="1" disabled="@isLoading" />
                                <label for="residential" class="btn btn-outline-secondary btn-sm bg-opacity-50 @(isLoading ? "disabled" : "")">
                                    Residential
                                </label>
                            </div>
                            <div class="form-check ps-0">
                                <InputRadio id="commercial" class="btn-check" Value="2" disabled="@isLoading" />
                                <label for="commercial" class="btn btn-outline-primary btn-sm bg-opacity-50 @(isLoading ? "disabled" : "")">
                                    Commercial
                                </label>
                            </div>
                        </div>
                    </InputRadioGroup>
                </div>
                <hr />
                <button type="submit" class="btn btn-primary" disabled="@isLoading" @onclick="() => Console.WriteLine('B')">
                    @if (isLoading)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span> Calculating...</span>
                    }
                    else
                    {
                        <span>Calculate</span>
                    }
                </button>
            </EditForm>
        </div>
        <div class="col-md-6">
            @if (isLoading)
            {
                <div class="text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p>Loading bill details...</p>
                </div>
            }
            @if (bill is not null && !isLoading)
            {
                <table class="table table-sm table-info rounded-2 p-5">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-bg-secondary">Billing type:</th>
                        </tr>
                        <tr>
                            <th colspan="4">@bill.ShowType()</th>
                        </tr>
                        <tr>
                            <th class="text-bg-secondary">Cycle starts at</th>
                            <th colspan="2" class="text-bg-secondary"></th>
                            <th class="text-bg-secondary">Cycle ends at</th>
                        </tr>
                        <tr>
                            <td class="fw-bolder">@bill.StartAt</td>
                            <td colspan="2">=></td>
                            <td class="fw-bolder">@bill.EndAt</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">
                                <table class="table table-striped table-sm" style="font-size: .875rem;">
                                    <thead>
                                        <tr>
                                            <th class="text-bg-secondary">Tier</th>
                                            <th class="text-bg-secondary">Consumption (KWh)</th>
                                            <th class="text-bg-secondary">Rate (USD/KWh)</th>
                                            <th class="text-bg-secondary">Total (USD)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var tier in bill.BreakDowns)
                                        {
                                            <tr>
                                                <td class="fw-bolder">@tier.TierName</td>
                                                <td class="fw-bolder">@tier.Consumption</td>
                                                <td class="fw-bolder">@tier.Rate</td>
                                                <td class="fw-bolder">@tier.Total</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-dark text-center">
                            <th colspan="4" class="fs-3 text-bg-dark">
                                <span class="text-secondary">Amount due: </span> @bill.Total.ToString("N2")<span class="text-secondary" style="font-size: .975rem;">$</span>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            }
        </div>
    </div>
</div>
